@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
// FUENTES
$fuente1:'Raleway' , sans-serif;

// TAMAÑO DE FUENTES DESKTOP
$titulo1l: 45px;
$titulo2l: 35px;
$titulo3l: 25px;
$parrafol: 20px;
$navegacion: 20px;

// TAMAÑO DE FUENTES TABLET
// $titulo1: ;
$titulo1m: 42px;
$titulo2m: 32px;
$titulo3m: 22px;
$parrafom: 18px;
// TAMAÑO DE FUENTES MOBILE
$titulo1s: 40px;
$titulo2s: 29px;
$titulo3s: 19px;
$parrafos: 16px;
$titulo1xs: 38px;
$titulo2xs: 27px;
$titulo3xs: 17px;
$parrafoxs: 15px;
// COLORES GENERALES
$yellow:#f6f2cb;
$lightyellow:#fcfaea;
$black:#494738;






